


.content-header {
    padding: 15px .5rem;
    justify-items: center;
}

.content {
    padding-left: 50px;
    padding-right: 50px;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    text-align: left;
    -webkit-overflow-scrolling: touch;
}

.table {
    width: 100%;
}

.completed {
    color: green;
}

.not-completed {
    color: red;
}